//<FORM>
// Сніппет (HTML):
.form {
    &__row {}

    &__column {}

    &__line {}

    &__input {}

    &__button {}

    &__error {}
}


//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn
@import './button.scss';

// <INPUTS> =============================================================================
// Сніппет (HTML): inp
@import './input.scss';


// <CHECK> ===========================================================================================
// Сніппет (HTML): chk
// @import './checkbox.scss'

// <RADIO> ===========================================================================================
// Сніппет (HTML): opt
// @import './radio.scss'


// <SELECT> ===========================================================================================
// Сніппет (HTML): sel
// @import "select";


// <RATING> ===========================================================================================
// Сніппет (HTML): rating
// @import './rating.scss'

// <QUANTITY> ===========================================================================================
// Сніппет (HTML): qa
// @import './quantity.scss'

// <RANGE> ===========================================================================================
// Сніппет (HTML):
// @import "range";

// <CALENDAR> ===========================================================================================
// Сніппет (HTML):
// @import "datepicker";